    header {
      text-align: center;
      background: url("images/banner.jpg");
      background-size: cover;
      color: white;
    }
    .nav {
      color: blue;
    }
    h1 {
      font-size: 50px;
      color:Crimson;
    }
    img {
      margin: 7px 30px 30px 20px;
      border: 7px solid Chocolate;
      border-radius: 40px;
    }
    ul {
      padding: 30px;
      background: rgba(255, 0, 0, 0.8);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 10px;
        display: block;
      }
    }
